* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    margin:100px;
    width: 450px;
    height: 450px;
    justify-content: center;
}

.grid {
    width: 27px;
    height: 26px;
    /* border: 1px blue solid; */
    background-color: white;
}