* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    margin:100px;
    width: 442px;
    height: fit-content;
    justify-content: center;
    padding-inline: -10px;
}

.grid {
    width: 27px;
    height: 26px;
    padding-bottom: 5px;
}